In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv(r"C:\Users\saura\Desktop\Ongoing\Notes\01.LAB_ass\ML\Machine_Learning_basisc\Data_sets\Housepriceprediction.csv")
df

,Id,LotArea,OverallQual,1stFlrSF,GrLivArea,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice
0,1,8450,7,856,1710,8,2,548,208500
1,2,9600,6,1262,1262,6,2,460,181500
2,3,11250,7,920,1786,6,2,608,223500
3,4,9550,7,961,1717,7,3,642,140000
4,5,14260,8,1145,2198,9,3,836,250000
...,...,...,...,...,...,...,...,...,...
1455,1456,7917,6,953,1647,7,2,460,175000
1456,1457,13175,6,2073,2073,7,2,500,210000
1457,1458,9042,7,1188,2340,9,1,252,266500
1458,1459,9717,5,1078,1078,5,1,240,142125
1459,1460,9937,5,1256,1256,6,1,276,147500